@font-face {
    font-family: "diatype-variable";
    src: url('../../public/fonts/ABCDiatypeVariableEdu.woff') format("woff-variations"),
    url('../../public/fonts/ABCDiatypeVariableEdu.woff2') format("woff2-variations");
}
 .swiper-slide {
    text-align: center;
     /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
 }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* @media (min-width: 576px) {
    .img-container {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .img-container::-webkit-scrollbar {
        display: none;
    }
}
@media (max-width: 576px) {
    .img-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
} */

